{% extends 'base.html' %}
{% block title %}
  Search Movies
{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="mt-5">Cerca film</h1>
    <form action="/search" method="get" class="mb-4">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Enter movie name" />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <h2>Film più popolari</h2>
    <div class="row">
      {% for movie in popular_movies %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">{{ movie.release_date }}</p>
              <a href="/movie/{{ movie.id }}" class="btn btn-primary">Vedi dettagli</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
